<div class="modal-footer">
    <div class="play-controls">
        <button type="button" class="btn btn-default" aria-label="Left Align" id="play-button">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id="pause-button">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id="stop-button">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="seek-bar">
        </div>
    </div>
    <!--<div class="file-controls">-->
    <!--&lt;!&ndash;<input type="file" id="upload"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-default upload-file" aria-label="Left Align" id="uploadButton">&ndash;&gt;-->
    <!--&lt;!&ndash;Upload <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
    <!--0.5x-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
    <!--0.75x-->
    <!--</button>-->
    <!--</div>-->
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tempo
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li><a href="#">0.5X</a></li>
            <li><a href="#">0.75X</a></li>
            <li><a href="#">1X</a></li>
            <li><a href="#">2X</a></li>
        </ul>
    </div>

</div>